@model BugTrackingSystem.Models.Ticket

@{
    ViewData["Title"] = "Ticket Details";
    Layout = "_BootstrapLayout";
}

<h2>Details</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.ManagerID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Developer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Developer.BugTrackerUserID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Submitter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Submitter.BugTrackerUserID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TicketID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
